@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #1d1b1b;
  --brown: #4e3a2a;
  --blue: #4c40f7;
  --light-blue: #96ceb4;
}

body {
  font-family: "Jost", sans-serif;
  height: 100vh;
  background: var(--main-bg);
  color: #fff;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .container {
    @apply w-11/12 m-auto;
  }
}
