@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #1d1b1b;
  --brown: #4e3a2a;
  --blue: #4c40f7;
  --light-blue: #96ceb4;
}

body {
  font-family: "Jost", sans-serif;
  height: 100vh;
  background: var(--main-bg);
  color: #fff;
}

.slick-track {
  margin: auto;
}
.slick-slide {
  width: 330px;
  margin: 0 15px;
  overflow-y: visible !important;
}
@media (max-width: 400px) {
  .slick-slide {
    width: 250px;
    margin: 0 15px;
  }
}

.fa-angle-right.clr-gry {
  right: 0;
}
@layer base {
  h1 {
    @apply text-3xl;
  }
  .main-title {
    @apply font-bold lg:text-[72px] sm:text-[55px] md:text-[65px] text-center mb-8;
    line-height: 72px;
  }
  .main-title > span {
    @apply text-[#96ceb4];
  }
  .about {
    @apply flex lg:justify-between lg:flex-row lg:items-center flex-col text-center lg:text-left mb-10;
  }
  .play-btn {
    @apply absolute lg:top-56 lg:left-[48%] md:top-36 md:left-[45%] sm:top-36 sm:left-[45%]
    left-[45%] top-[40%] w-[10%] cursor-pointer transition-all hover:scale-110;
  }
  .services {
    @apply flex flex-col justify-center items-center text-center lg:items-start lg:text-left;
  }

  .circle {
    @apply w-[75px] h-[75px] bg-slate-500 rounded-full top-[-50px] left-[50%] absolute;
  }
  .wrapper {
    @apply w-full h-[400px] bg-white rounded-2xl;
    border-top-left-radius: 129px;
  }
}

@layer components {
  .container {
    @apply w-11/12 m-auto;
  }
  .btn {
    @apply font-bold md:text-[18px] capitalize py-2 px-4 rounded-md transition-all sm:text-[15px];
  }
  .outline-btn {
    @apply border-2 text-[#FFAD60] border-[#FFAD60] hover:text-black hover:bg-[#ffad60];
  }
  .primary-btn {
    @apply bg-[#4c40f7] hover:bg-transparent border-2 border-[#4c40f7] hover:scale-110;
  }
}
